/* Widget Box */
.widget-box {
	background: none repeat scroll 0 0 #F9F9F9;
	border-left: 1px solid #CDCDCD;
	border-top: 1px solid #CDCDCD;
	border-right: 1px solid #CDCDCD;
	clear: both;
	margin-top: 9px;
	margin-bottom: 9px;
    position: relative;
}
.widget-box.widget-danger {
    background-color: #dc3545!important;
    color: #fff!important;
}
.widget-box.widget-success {
    background-color: #28a745!important;
    color: #fff!important;
}
.widget-box.widget-warning {
    background-color: #ffc107!important;
}
.widget-box.widget-primary {
    background-color: #007bff!important;
    color: #fff!important;
}
.widget-box a {
    text-decoration: none;
    color: #fff!important;
}
* {
    outline: none !important
}
div {
    display: block;
}

/* Widget Title */
.widget-title{
    background: rgba(0,0,0,.1);
    border-bottom: 1px solid #CDCDCD;
    height: 36px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}
.widget-title span.icon {
	padding: 9px 10px 7px 11px;
    float: left; border-right:1px solid #dadada;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}
.widget-title h5 {
	float: left;
	font-size: 12px;
	font-weight: bold;
	padding: 12px;
	line-height: 12px;
	margin: 0;
}

/* Widget Content */
.widget-content {
	padding:15px;
	border-bottom: 1px solid #cdcdcd;
}
ul.unstyled {
    margin-left: 0;
    list-style: none;
    padding: 0;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.progress {
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f7f7f7;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}
.progress-warning.progress-striped .bar {
    background-color: #fbb450;
}
.progress-success.progress-striped .bar {
    background-color: #62c462;;
}
.progress-danger.progress-striped .bar {
    background-color: #ee5f5b;;
}
.progress-striped .bar {
    background-color:#149bdf;
    background-image:linear-gradient(45deg, rgba(255,255,255,0.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.15) 75%, transparent 75%, transparent);
    background-size: 40px 40px;
}
